//meu

.banner {
  img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
  }
}

.mainContainer {
  margin-top: 80px;

  h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  > span {
    display: block;
    margin-top: 1rem;
    font-style: italic;
    font-size: 0.875rem;
    color: var(--info);
  }

  article {
    margin: 4rem 0;

    h2 {
      font-size: 2rem;

      &:not(:first-child) {
        margin-top: 2rem;
      }
    }

    div {
      margin-top: 2rem;
      line-height: 1.75rem;
      text-align: justify;

      p ~ p {
        margin-top: 1.5rem;
      }

      ul {
        margin: 1.5rem 0;

        li + li {
          margin-top: 0.5rem;
        }
      }

      a {
        color: #ff57b2;
        text-decoration: underline transparent;
        transition: 0.2s;

        &:hover {
          text-decoration: underline #ff57b2;
        }
      }
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #282c34;
  margin-bottom: 80px;
  h3 {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 0.5rem;
  }

  a {
    color: #ff57b2;
    font-weight: 600;
  }

  div {
    padding-top: 3rem;

    & + div {
      text-align: right;
    }
  }
}
